body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: #042331;*/
    background: #063146;
    background-size: cover;
    color: white;
    margin-left: 5%;
}
#home {
    color: white;
    font-size: 35px;
    position: fixed;
    left: 30px;
    top: 15px;
    text-decoration: none;
}
.toptext {
    position: fixed;
    height: 100px;
    width: 100%;
    background: #042331;
    margin: -50px -90px;
    left: 90px;
    z-index: 111;
}
.toptext div {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    line-height: 80px;
    margin-right: 50px;
    z-index: 111;
}
.toptext div a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    /*font-weight: 700;*/
    margin-left: 20px;
    padding: 30px;
    transition: color 0.3s;
    position: center;
}
.toptext div a i {
    padding: 5px;
    margin-right: 8px;
}


#rubrik {
    padding-top: 8%;

}
#rubrik a{
    font-size: 20px;
}
#rubrikstation {
    padding-top: 8%;
}
#semiRubrik {
}

#home :hover {
    text-decoration: underline;
}
.stations {
    color: white;
    font-size: 19px;
    /*margin: 10px 10px 10px 10px;*/
    /*padding-bottom: 30px;*/
}
.stationdiv {
    /*margin-left: 20px;*/
    margin-bottom: 10px;
}
.trucks {
    color: red;
    font-size: 19px;
    margin: 10px 10px 10px 10px;
}
.truckdiv {
    font-size: 19px;
    /*margin-left: 20px;*/
    margin-bottom: 10px;
}
.edit {
    color: red;
    font-size: 19px;
    margin: 10px 10px 10px 10px;
}
#lbl {
    
}
#addLink {
    width: 15%;
    background: none;
    border: 2px solid #ff0000;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    /*margin-left: 20px;*/
}
#addTruckBtn, #addStationBtn {
    margin-bottom: 50px;
    width: 15%;
    padding-top: 20px;
}

#truckNoTB, #stationNoTB {
    width: 15%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ff0000;
    /*position: relative;*/
    /*float: left;*/

}
.submitBtn {
    width: 15%;
    background: none;
    border: 2px solid #ff0000;
    color: white !important;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    /*position: absolute;*/
    /*float: left;*/
}
.submitBtn:disabled {
    color: lightgray;
    border: 2px solid #6d5454;
}
#backtostationlink {
    padding-top: 30px;
    margin-left: -50px;
    
}
#backtostationstext {
    color: white;
}
#valmessage{
    display:block;
    margin-left: 16%;

}
#container {
}
#trashcan{
    color: red;
    margin-left: 15px;

}
    #trashcan:hover {
        cursor: pointer;
    }
#trashcanTruck {
    color: red;
    margin-left: 10px;
}
    #trashcanTruck:hover {
        color: red;
        margin-left: 15px;
        cursor: pointer;
    }
